.navbar-location
{
    padding-left: 17em;
    margin-bottom: -1.3em;
}

.location
{
    margin-top: -2px;
}

.input
{
    height:2.3em;
    width: 23em;
}

.search-btn
{
    margin-top: -7px;
}
.search
{
    margin-top: -9px;
}