.sign-in
{
    text-align: end;
    margin-left: 56em;
    margin-top: -3em;
    margin-right: -3em;
}

.logo
{
    max-height: 6em;
}

.header
{
    background-color: #ffd89e;
    width: 72em;
    margin-left: 3em;
    
}